- content_for :title do
  = @channel.title

.wrapper{ id: @channel.slug, data: { url: encoded_url(@channel) } }
  .header
    - if display_home_link?(@channel.id)
      = link_to "Damon Zucconi", "/"
      %span.separator /

    = link_to @channel.title, encoded_url(@channel)

  .contents.active
    - @channel.contents.each_with_index do |connectable, i|
      - if connectable.is_channel?
        = link_to encoded_url(connectable), { class: "channel connectable", data: { slug: connectable.slug } } do
          = connectable.title
      
      - else
        = link_to encoded_url(connectable, { next: move(:next, @channel, i), prev: move(:prev, @channel, i), via: @channel.slug }), { class: "block connectable #{connectable_classes(connectable)}", id: current(@channel, connectable.id) } do
          = appropriate_preview(connectable)