!!! 5
%html{ lang: "en" }
  %head
    %title= yield_content :title
    = meta_tag DEFAULT_CHANNEL_IDENTIFIER[:id], name: "source"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

  %body{ class: color_scheme }
    #loading.loading
    
    #main
      = yield

    :javascript
      var _gaq=[['_setAccount','UA-5681004-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
